extends ./layout/default.pug

block title-content
	title Raul F. de Melo

block seo-content
	- var name = "Raul Felipe de Melo";
	- var description = "Developer and a guy who loves what he does!";
	- var url = "https://rauldemelo.com.br";
	- var img = `${url}/img/background.jpg`;

	//-General SEO
	meta(name="author" content=name)
	meta(name="description" content=description)
	meta(name="robots" content="index, nofollow")

	//-OpenGraph
	meta(property="og:title" content=name)
	meta(property="og:type" content="website")
	meta(property="og:description" content=description)
	meta(property="og:url" content=url)
	meta(property="og:image" content=img)
	//- Twitter cards
	meta(name="twitter:card" content="summary")
	meta(name="twitter:title" content=name)
	meta(name="twitter:description" content=description)
	meta(name="twitter:url" content=url)
	meta(name="twitter:image" content=img)

block mobile-coloring-content
	- var mobileColor = "rgba(88, 75, 79,.8)";

	meta(name="theme-color", content=mobileColor)
	meta(name="apple-mobile-web-app-status-bar-style", content=mobileColor)
	meta(name="msapplication-navbutton-color", content=mobileColor)

block css-content
	if assets
		link(rel="stylesheet", href=assets['index.min.css'])
	else
		link(rel="stylesheet", href='index.min.css')

block body-content
	include includes/_header.pug

	main.main
		include includes/_home.pug
		include includes/_about.pug
		include includes/_skills.pug
		include includes/_portfolio.pug
		include includes/_contact.pug
		include includes/_social.pug

		include includes/_footer.pug

block script-content
	script
		include js/analytics.js
	if assets
		script(src=assets['index.min.js'])
	else
		script(src='index.min.js')

	script(src='https://www.google.com/recaptcha/api.js' async defer)
