extends ./layout/default.pug

block title-content
  title Raul de Melo

block seo-content
  - var name = "Raul de Melo";
  - var description = "Developer and a guy who loves what he does!";
  - var url = "https://rauldemelo.com.br";
  - var img = `${url}/img/background.jpg`;

  //-General SEO
  meta(name="author" content=name)
  meta(name="description" content=description)
  meta(name="robots" content="index, nofollow")
  link(rel="canonical", href="https://rauldemelo.com.br")

  //-OpenGraph
  meta(property="og:title" content=name)
  meta(property="og:type" content="website")
  meta(property="og:description" content=description)
  meta(property="og:url" content=url)
  meta(property="og:image" content=img)
  //- Twitter cards
  meta(name="twitter:card" content="summary")
  meta(name="twitter:title" content=name)
  meta(name="twitter:description" content=description)
  meta(name="twitter:url" content=url)
  meta(name="twitter:image" content=img)

block mobile-coloring-content
  - var mobileColor = "rgba(88, 75, 79,.8)";

  meta(name="theme-color", content=mobileColor)
  meta(name="apple-mobile-web-app-status-bar-style", content=mobileColor)
  meta(name="msapplication-navbutton-color", content=mobileColor)

block css-content
  if assets
    link(rel="stylesheet", href=assets['index.min.css'])
  else
    link(rel="stylesheet", href='index.css')

block body-content
  div#top
  include includes/_header.pug

  main.main
    include includes/_home.pug
    include includes/_about.pug
    include includes/_skills.pug
    include includes/_portfolio.pug
    include includes/_contact.pug
    include includes/_social.pug

  include includes/_footer.pug

block script-content

  script
    include ts/vendor/analytics.js

  if assets
    script(src=assets['bundle.js'])
  else
    script(src='bundle.js')
  script(type="application/ld+json")
    include data/json-ld.json

  script(src='https://www.google.com/recaptcha/api.js?onload=renderReCaptcha&render=explicit')

